:root{
  --theme-color: #e17bad;
  --barker-border: 0.5px solid darkgray;
}

.App {
  text-align: center;
}
body, html , #root {
  height: 100vh;
  width: 100%;
  margin: 0 
}
button {
  margin: 15px;
} 

textarea {
  border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    width: 100%;
    height: 100%
}

/* https://www.bitdegree.org/learn/css-link-color */
.link-username:link {
  text-decoration: none;
  color:black;
  
}

.link-username:visited {
  text-decoration: none;
  color:black;

}

.link-username:hover {
  text-decoration: underline;
  color:black;
  font-weight:bold
}

.link-username:active {
  text-decoration: underline;
  color:black;
  font-weight:bold
}

/* Modals */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.modal-main {
  position:fixed;
  background: white;
  width: 50%;
  height: auto;
  padding: 50px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 5px;
}

/* Header */
#header{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  background-color:azure;
  padding: 15px;
  text-align: right;
  display: flex;
  flex-direction:row;
  justify-content: flex-end;
  align-items: center;
}
.avatar-img {
  height: 30px;
  width: 30px;
  border-radius: 20px;
  margin: 15px
}

/* App Container */

.app-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}



/* Login Page */

/* #login-page::after {
  content: "";
  
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom:0;
  right: 0;
  position: absolute;
  z-index: -1;  
} */

/* .footer {
  padding: 20px;
} */

/* Post */


/* sign in modal */



