:root{
  --theme-color: #fe6a03;
  --hover-background: #fde3d0;
  --barker-border: 0.5px solid darkgray;
}

.App {
  text-align: center;
}
body, html , #root {
  height: 100vh;
  width: 100%;
  margin: 0 ;
  font-family: Helvetica, sans-serif
}

ul {
   list-style: none;
 }


.link-username:link {
  text-decoration: none;
  color:black;
  font-weight:bold
}

.link-username:visited {
  text-decoration: none;
  color:black;
  font-weight:bold
}

.link-username:hover {
  text-decoration: underline;
  color:black;
  font-weight:bold
}

.link-username:active {
  text-decoration: underline;
  color:black;
  font-weight:bold
}

/* Modals */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.modal-main {
  position:fixed;
  background: white;
  width: 50%;
  height: auto;
  padding: 50px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 5px;
}

/* Header */
#header{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  border-bottom: 0.5px solid lightgrey;
  margin-right: 15%;
  text-align: right;
  background-color: white;
}

.header-content {
  padding-right: 5%;
  display: flex;
  flex-direction:row;
  justify-content: flex-end;
  align-items: center;
}
.avatar-img {
  height: 30px;
  width: 30px;
  border-radius: 20px;
  margin: 15px
}

.header-user{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 30px;
}

/* App Container */

.app-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}







