:root{
  --theme-color: #fe6a03;
  --hover-background: #fde3d0;
  --barker-border: 0.5px solid lightgrey;
  --barker-light-gray : rgb(239, 243, 244);
  --icon-color:  rgb(83, 100, 113);
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  overflow-wrap: break-word;
}

.App {
  text-align: center;
}
body, html , #root {
  height: 100%;
  width: 100%;
  margin: 0 ;
  font-family: Helvetica, sans-serif
}

ul {
   list-style: none;
}


.link-username:link {
  text-decoration: none;
  color:black;
  font-weight:bold
}

.link-username:visited {
  text-decoration: none;
  color:black;
  font-weight:bold
}

.link-username:hover {
  text-decoration: underline;
  color:black;
  font-weight:bold
}

.link-username:active {
  text-decoration: underline;
  color:black;
  font-weight:bold
}

.avatar-img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.avatar-img-small {
  height: 30px;
  width: 30px;
  border-radius: 20px;
  margin: 15px
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 48px;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 18px;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex-grow: 1;
  flex-shrink: 1;
  width: 80%;
}

.form-right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex-grow: 1;
  flex-shrink: 1;
  width: 80%;
  max-height: 85vh;
}


/* Modals */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 50%;
  height: auto;
  padding: 50px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 5px;
}

.input-modal-main {
  position: absolute;  
  border-radius: 15px;
  background: white;
  top: 3vh;
  /* margin-left: calc((100% - 600px) / 2); */
  /* margin-left: auto;
  margin-right: auto; */
  /* left: 50%;
  margin-left: -50%; */
  max-width: 566px;
  max-height: 95vh;
  overflow-wrap: break-word;
  
}

.input-modal-content {
  display: flex;
  flex-direction: column;
  max-height: 90%;
}

.post-input-form .rebarked-main {
  max-width: 60%;
}

/* for comment modal */
.post-main.comment {
  padding-bottom: 0px;
  }
  
.post-main.comment .right-side {
  display: block;
}

.connection-line {
  width: 2px;
  height: 100%;
  min-height: 20px;
  background-color: darkgray;
  display: block;
  margin: 3px auto;
}

.top-space {
  height: 20px;
}

.comment-input-container {
  display: flex;
  flex-direction: column;
}

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.error-message {
  width: 100%;
  margin-bottom: 20px;
}

.error-container button {
  margin: 0 auto;
}


/* Header */
#header{
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: var(--barker-border);
  text-align: right;
  background-color: white;
  z-index: 1;
}

.header-content {
  padding-right: 5%;
  display: flex;
  flex-direction:row;
  justify-content: flex-end;
  align-items: center;
}


.header-user{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 30px;
}

/* App Container */

.app-container {
  width: 100%;
  /* display: flex;
  flex-direction: row;
  justify-content: flex-start; */
  height: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
  
}

/* Footer Nav  */

.footer-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: var(--barker-border);
  padding: 0.5rem 0;
  text-align: center;
  background-color: white;
  display: none;
  
}

.footer-nav a {
  color: #000000ab;
}

.footer-nav a.active {
  color: var(--theme-color);
}

.nav-option {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
  border-radius: 50%;
  display: table-cell;
  vertical-align: middle;
}

.nav-option:hover {
  background-color: var(--hover-background);
  color: var(--theme-color)   
}

.nav-icon {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0;
  
}





