


  

/* Main */
.center-container {
    margin-left: 300px;
    width: 50%
  }

  .post-input {
    max-width: 390px;
    border: 0.5px solid darkgray; 
    padding: 15px;   
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.form-container {
    width: 90%;
    height: 70%
}

.input-btn-div {
    text-align: end;
}

/* Profile */
.info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.profile-pic {
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
}

.profile-tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
ul.profile-tabs a {
    width: 25%;
    height: 25%;
    margin:5%;
}

.follow-numbers {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

.followers {
    margin-left: 15px
}

.info-center{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* Post Page */

.post-page {
    text-align: center;
}

#arrow-left{
    height: 25px;
    width: 25px;
    margin: 10px;
    padding: 10px;
    border-radius: 50%;
}

#arrow-left:hover {
    color: white;
    background-color:var(--theme-color);
    cursor: pointer;
}

