.home-container {
  width: 100%;
}

/* Main */
.center-container {
  padding-top: 30px;
  padding-bottom: 20px;
  /* margin-left: 0.5rem; */
  margin-left: clamp(235px, 20%, 300px);
  padding-left: 1.5rem;
  /* margin-left: max(20%, 235px); */
  margin-right: 0.5rem;
  width: 80%;
  max-width: 600px;
}

.form-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  max-width: 566px;  
}

.post-input-form {
  max-height:85vh;
  display: flex;
  flex-direction: column;
}

.rebarked-main.rebark {
  flex-shrink: 2;
}

.rebarked-main.rebark .image-container {
  width: 70%;
  height: auto;
}

.rebarked-main.rebark .post-content {
  width: 80%;
}
  
.form-wrapper.input {
  border: var(--barker-border); 
  padding: 15px;   
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-wrapper.edit {
  max-width: 566px;
  padding-top: 15px;
}

.form-wrapper.rebark {
  padding-top: 15px;
  max-height: 90%;
  max-width: 566px;
}


input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  cursor: pointer;
}

#image-upload-icon {
  font-size: 25px;
}

#image-upload-icon:hover {
  color: var(--theme-color)
}

.form-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

.progress-bar {
  margin-left: 20px;
  margin-right: 20px;
  height: 5px;
  background-color: var(--hover-background);
}


.form-image-container {
  position: relative;
  width: 60%;
  margin-bottom: 15px;
  margin-top: 15px;
}

.input-form-img {
  max-width: 100%;
  height: auto;
  border: 0;
  border-radius: 18px;
}


.discard-btn-container {
  position: absolute;
  height: 45px;
  width: 45px;
  top: 20px;
  left: 15px;
  background: rgb(249 249 249 / 48%);
  border-radius: 50px;
}



.sign-in-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
  margin-left: 2vw;
  margin-right: 2vw;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  padding: 2rem min(4rem, 2vw);
  border: var(--barker-border);
  border-radius: 18px;
}

.sign-in-form input {
  display: inline-block;
  height: 34px;
  width: 90%;
  padding-left: 8px;
  padding-right: 6px;
  border: var(--barker-border);
  color: #000000;
  outline: none;
  font-size: 1.2em;
  border-radius: 3px;
  line-height: 1.3em;
}

.sign-in-btn {
  margin-top: 10%
}

.input-btn-div {
  text-align: end;
}

/* .filler {
  background: chartreuse;
  padding-top: 30px;
  height: 100%;
  width: 20%;
  max-width: 300px;
  min-width: 235px;
  flex-shrink: 1;

} */


/* Post Page */

.post-page {
  text-align: center;
}


/* Barkers Page */

.user-tile {
max-width: 550px;
width: 60%;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding-right: 5px;
border:var(--barker-border);
margin-bottom: 10px;
}

.user-info {
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
margin-right: 0.5rem;
}



