
 /* .posts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  align-content: center
} */

/* Main */
.center-container {
    padding-top: 30px;
    margin-left: 300px;
    width: 50%;
    /* border-right: 0.5px solid lightgray;
    border-left: 0.5px solid lightgray; */
    /* padding-left: 5%; */
    
  }

  .post-input {
    max-width: 390px;
    border: 0.5px solid darkgray; 
    padding: 15px;   
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.form-container {
    width: 90%;
    height: 70%
}

.input-btn-div {
    text-align: end;
}


/* Post Page */

.post-page {
    text-align: center;
}

#arrow-left{
    height: 25px;
    width: 25px;
    margin: 10px;
    padding: 10px;
    border-radius: 50%;
}

#arrow-left:hover {
    color: white;
    background-color:var(--theme-color);
    cursor: pointer;
}



