/* Main */
.center-container {
    padding-top: 30px;
    margin-left: 300px;
    width: 50%;
  }
  
  .post-input {
      width: 100%;
    max-width: 390px;
    border: 0.5px solid darkgray; 
    padding: 15px;   
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }


  input[type="file"] {
    display: none;
  }

  .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
  }

  .form-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .progress-bar {
    margin-left: 20px;
    margin-right: 20px;
    height: 5px;
    background-color: var(--hover-background);
  }


  .form-container {
    width: 90%;
    height: 70%
  }
  
  .sign-in-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .sign-in-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%
  }
  
  .sign-in-btn {
    margin-top: 10%
  }
  
  .input-btn-div {
    text-align: end;
  }
  
  
  /* Post Page */
  
  .post-page {
    text-align: center;
  }
  

/* Barkers Page */

.user-tile {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
    border:var(--barker-border);
    margin-bottom: 10px;
}



