/* Main */
.center-container {
  padding-top: 30px;
  margin-left: 300px;
  width: 50%;
}

.form-wrapper {
  /* width: 100%;
  max-width: 566px; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  
  width: 566px;
  /* padding: 15px; */
  
}
  
.form-wrapper.input {
  border: 0.5px solid darkgray; 
  padding: 15px;   
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-wrapper.edit {
  width: 566px;
  padding-top: 15px;
}

.form-wrapper.rebark {
  padding-top: 15px;
}


input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  cursor: pointer;
}

#image-upload-icon {
  font-size: 25px;
}

#image-upload-icon:hover {
  color: var(--theme-color)
}

.form-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

.progress-bar {
  margin-left: 20px;
  margin-right: 20px;
  height: 5px;
  background-color: var(--hover-background);
}

.image-container {
  max-width: 400px;
  max-height: 200px;
  /* position: relative; */
  margin-top: 15px;
  /* display:flex;
  align-content: stretch;
  align-items: stretch; */
}

.image-container.edit-modal {
  position: relative;
}



.discard-btn-container {
  position: absolute;
  height: 45px;
  width: 45px;
  top: 30px;
  left: 15px;
  background: rgb(249 249 249 / 48%);
  border-radius: 50px;
}


.sign-in-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%
}

.sign-in-btn {
  margin-top: 10%
}

.input-btn-div {
  text-align: end;
}


/* Post Page */

.post-page {
  text-align: center;
}


/* Barkers Page */

.user-tile {
width: 60%;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding-right: 5px;
border:var(--barker-border);
margin-bottom: 10px;
}

.user-info {
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
}



