/* Profile */
.info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.profile-pic {
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
}


.profile-tabs-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 30px;
}

.profile-tabs-container a {    
    flex-grow: 1;    
    text-align: center;
    padding: 10px;
    font-weight: bold;
    color: grey
}

.profile-tabs-container a:link {
    text-decoration: none;

}

.profile-tabs-container a:hover {
    background-color: var(--hover-background);
    color: var(--theme-color)
}

.profile-tabs-container a.active {
    border-bottom: 2px solid var(--theme-color);
    color: var(--theme-color)
    
}

.follow-numbers {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

.follow-numbers a:link {
    text-decoration: none;
  color:grey;
}

.follow-numbers a:hover {
    text-decoration: underline;
  color:grey;
}

.follow-numbers a:visited {
    text-decoration: none;
    color:grey;
}
.followers {
    margin-left: 15px
}

.info-center{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

/* Follow Page */

.tiles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
} 