
.sidebar {
  margin: 0;
  padding-top: 30px;
  width: 20%;
  max-width: 300px;
  min-width: 235px;
  position: fixed;
  height: 100%;
  border-right: 0.5px solid lightgray;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.menu-container {
  margin: 2rem auto;
  padding: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 40%;
  flex-wrap: nowrap;
}

.sidebar a:link {
  text-decoration: none;    
}

.sidebar a {
  color: black;
}

.sidebar a.active {
  color: var(--theme-color);
}
 
a svg {
  margin-right: 10px;
  width: 10%; 
  height: auto;
}

.sidebar-option {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-radius: 30px;
  max-width: 210px;
  padding-left: 15px;
  font-size: 1rem;
}

.sidebar-option:hover {
  background-color: var(--hover-background);
  color: var(--theme-color)   
}

.sideb-option-name {
  padding-right: 1rem; 
  font-size: 1rem; 
}

#dog-icon {
  font-size: 60px;
  color: var(--theme-color);
}
