
.sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    position: fixed;
    height: 100%;
    overflow: auto;
    border-right: 0.5px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .menu-container {
    margin-top: 25px;
    width: 100%;
    padding: 0px
  }

  .sidebar a:link {
    text-decoration: none;    
  }

  .sidebar a {
    color: black
    
  }

  a.active {
      color: var(--theme-color);
  }

  a svg {
    margin-right: 10px;
    width: 10%; height: auto;
  }
  .menu-container {
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 40%
  }
  .sidebar-option {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-radius: 30px;
    width: 70%;
    padding-left: 15px;
  }

  .sidebar-option:hover {
    background-color: var(--hover-background);
    color: var(--theme-color)   
  }

  .sidebar-option:active {
    color: red
  }

#dog-icon {
    font-size: 60px;
    color: var(--theme-color);
};
