#login-page {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("../images/dog-pattern.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    /* position: relative; */
    /* text-align: center; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    
  }
  
  #login-btns {
    margin-right: 10vh;
    padding: 10vh;
  }
  
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }
  
  .modal-text {
    margin-top: 15px;
    margin-bottom: 10px
  }
  
  .modal-btn {
    margin-bottom: 15px;
  }

